    /* ELIMINATING BROWSER DEFAULT FORMATTING */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    
    align-items: center;
    justify-items: center;
    
    padding-top: 40px;
}

    /* NAVIGATION BAR */

nav {
    position: fixed;
    /* Places nav bar above outerTray, but below tray */
    z-index: 2;
    display: grid;
    
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    
    height: 40px;
    width: 100%;
    padding: 10px 15px;
    
    font-family: "Helvetica";
    font-size: 18px;
    font-weight: 700;
    
    color: #03C2AC;
    background-color: ghostwhite;
    border-bottom: 1px solid hsla(84, 0%, 30%, 0.3);
}

#menu {
    text-align: right;
}

    /* MAIN BODY: TEXT MANIPULATION */

.text {
    font-family: "Cambria", serif;
    font-weight: normal;
    line-height: 150%;
    
    text-align: center;
    margin: 5px auto;
    width: 100%;
    min-width: 400px;
    max-width: 600px;
}

#email {
    font-family: "Courier New", sans-serif;
    text-align: center;
}

h1 {
    font-family: "Garamond";
}

h3 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

.white_back {
    background-color: ghostwhite;
    color: black;
}

.black_back {
    background-color: black;
    color: #03C2AC;
}

    /* BACKGROUND MANIPULATION */

#image {
    max-width: 100%;
    height: auto;
}

.slide {
    display: grid;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    padding: 35px;
    

    height: 650px;
    width: 100%;
}

/* Removes the padding surrounding the logo */

.slide.logo {
    height: 650px;
    max-width: 100%;
    
    padding: 0px;
}

    /* HYPERLINK FORMATTING */

a:link    {
  /* Applies to unvisited links in class mainNav */
  text-decoration:  none;
  background-color: transparent;
  color:            #03C2AC;
  } 
a:visited {
  /* Applies to visited links in class mainNav */
  text-decoration:  none;
  color:            #03C2AC;
  } 
a:hover   {
  /* Applies to links under the pointer in class mainNav */
  text-decoration:  none;
  background-color: transparent;
  color:            #03C2AC;
  } 
a:active  {
  /* Applies to activated links in class mainNav */
  text-decoration:  none;
  font-weight:      bold;
  background-color: transparent;
  }